<div class="breadcrumbs">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6 col-12">
				<div class="breadcrumbs-content">
					<h1 class="page-title">Single Product</h1>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-12">
				<ul class="breadcrumb-nav">
					<li><a href="index.html"><i class="lni lni-home"></i> Home</a></li>
					<li>Single Product</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<section class="item-details section">
	<div class="container">
		<div class="top-area">
			<div class="row align-items-center">
				<div class="col-lg-6 col-md-12 col-12">
					<div class="product-images">
						<main id="gallery">
							<div class="main-img">
								<img src="{{ singleImage(product?.images) }}" id="current" alt="#">
							</div>
							<div class="images">
								<ng-container *ngFor="let image of product?.images">
									<img src="{{ image.url }}" class="img" alt="{{ image.name }}"
										(click)="changeImage($event)">
								</ng-container>
							</div>
						</main>
					</div>
				</div>
				<div class="col-lg-6 col-md-12 col-12">
					<div class="product-info">
						<h2 class="title">{{ product?.name }}}</h2>
						<p class="category"><i class="lni lni-tag"></i> Category:<a href="javascript:void(0)">{{
								product?.category?.name }}</a></p>
						<p class="category"><i class="lni lni-tag"></i> Brand:<a href="javascript:void(0)">{{
								product?.brand?.name }}</a></p>

						<ng-template *ngIf="product?.discount === 0 else discountYes">
							<h3 class="price">
								<span>{{ product?.price }}đ</span>
							</h3>
						</ng-template>
						<ng-template #discountYes>
							<h3 class="price">
								{{ discountTotal(product?.price, product?.discount) }}đ
								<span>{{ product?.price }}đ</span>
							</h3>
						</ng-template>

						<div class="row">
							<!-- <div class="col-lg-4 col-md-4 col-12">
								<div class="form-group color-option">
									<label class="title-label" for="size">Choose color</label>
									<div class="single-checkbox checkbox-style-1">
										<input type="checkbox" id="checkbox-1" checked>
										<label for="checkbox-1"><span></span></label>
									</div>
									<div class="single-checkbox checkbox-style-2">
										<input type="checkbox" id="checkbox-2">
										<label for="checkbox-2"><span></span></label>
									</div>
									<div class="single-checkbox checkbox-style-3">
										<input type="checkbox" id="checkbox-3">
										<label for="checkbox-3"><span></span></label>
									</div>
									<div class="single-checkbox checkbox-style-4">
										<input type="checkbox" id="checkbox-4">
										<label for="checkbox-4"><span></span></label>
									</div>
								</div>
							</div> -->
							<!-- <div class="col-lg-4 col-md-4 col-12">
								<div class="form-group">
									<label for="color">Battery capacity</label>
									<select class="form-control" id="color">
										<option>5100 mAh</option>
										<option>6200 mAh</option>
										<option>8000 mAh</option>
									</select>
								</div>
							</div> -->
							<div class="col-lg-4 col-md-4 col-12">
								<div class="form-group quantity">
									<label for="color">Quantity</label>
									<select class="form-control">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
									</select>
								</div>
							</div>
						</div>
						<div class="bottom-content">
							<div class="row align-items-end">
								<div class="col-lg-4 col-md-4 col-12">
									<div class="button cart-button">
										<button class="btn" style="width: 100%;">Add to Cart</button>
									</div>
								</div>
								<!-- <div class="col-lg-4 col-md-4 col-12">
									<div class="wish-button">
										<button class="btn"><i class="lni lni-reload"></i> Compare</button>
									</div>
								</div> -->
								<div class="col-lg-4 col-md-4 col-12">
									<div class="wish-button">
										<button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product-details-info">
			<div class="single-block">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="info-body custom-responsive-margin">
							<h4>Details</h4>
							<p>{{ product?.details }}</p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="info-body">
							<!-- <h4>Specifications</h4>
							<ul class="normal-list">
								<li><span>Weight:</span> 35.5oz (1006g)</li>
								<li><span>Maximum Speed:</span> 35 mph (15 m/s)</li>
								<li><span>Maximum Distance:</span> Up to 9,840ft (3,000m)</li>
								<li><span>Operating Frequency:</span> 2.4GHz</li>
								<li><span>Manufacturer:</span> GoPro, USA</li>
							</ul>
							<h4>Shipping Options:</h4>
							<ul class="normal-list">
								<li><span>Courier:</span> 2 - 4 days, $22.50</li>
								<li><span>Local Shipping:</span> up to one week, $10.00</li>
								<li><span>UPS Ground Shipping:</span> 4 - 6 days, $18.00</li>
								<li><span>Unishop Global Export:</span> 3 - 4 days, $25.00</li>
							</ul> -->
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
