<app-hero></app-hero>

<section class="trending-product section" style="margin-top: 12px;">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2>New Product</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6 col-12" *ngFor="let product of products">
				<div class="single-product">
					<div class="product-image">
						<img src="{{ singleImage(product?.images) }}" alt="">
						<ng-container *ngIf="product?.discount">
							<span class="sale-tag">-{{ product?.discount }}%</span>
						</ng-container>
						<div class="button">
							<a href="" class="btn"><i class="lni lni-cart"></i> Add to Cart</a>
						</div>
					</div>
					<div class="product-info">
						<span class="category">{{ product?.category?.name }}</span>
						<h4 class="title">
							<a [routerLink]="['/product', product?.slug]">{{ product?.name }}</a>
						</h4>
						<ul class="review">
							<li><i class="lni lni-star-filled"></i></li>
							<li><i class="lni lni-star-filled"></i></li>
							<li><i class="lni lni-star-filled"></i></li>
							<li><i class="lni lni-star-filled"></i></li>
							<li><i class="lni lni-star-filled"></i></li>
						</ul>
						<div class="price">
							<ng-container *ngIf="product?.discount === 0 else discountYes">
								<span>{{ product?.price }}đ</span>
							</ng-container>
							<ng-template #discountYes>
								<span>{{ discountTotal(product.price, product.discount) }}đ</span>
								<span class="discount-price">{{ product?.price }}đ</span>
							</ng-template>
						</div>
					</div>
				</div>
			</div>
		</div>

		<ng-container *ngFor="let category of categories">
			<div class="row mt-100">
				<div class="col-12">
					<div class="section-title">
						<h2>{{ category?.name }}</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-12" *ngFor="let product of category.products">
					<div class="single-product">
						<div class="product-image">
							<img src="{{ singleImage(product?.images) }}" alt="">
							<ng-container *ngIf="product?.discount">
								<span class="sale-tag">-{{ product?.discount }}%</span>
							</ng-container>
							<div class="button">
								<a href="" class="btn"><i class="lni lni-cart"></i> Add to Cart</a>
							</div>
						</div>
						<div class="product-info">
							<span class="category">{{ product?.category?.name }}</span>
							<h4 class="title">
								<a [routerLink]="['/product', product?.slug]">{{ product?.name }}</a>
							</h4>
							<ul class="review">
								<li><i class="lni lni-star-filled"></i></li>
								<li><i class="lni lni-star-filled"></i></li>
								<li><i class="lni lni-star-filled"></i></li>
								<li><i class="lni lni-star-filled"></i></li>
								<li><i class="lni lni-star-filled"></i></li>
							</ul>
							<div class="price">
								<ng-container *ngIf="product?.discount === 0 else discountYes">
									<span>{{ product?.price }}đ</span>
								</ng-container>
								<ng-template #discountYes>
									<span>{{ discountTotal(product.price, product.discount) }}đ</span>
									<span class="discount-price">{{ product?.price }}đ</span>
								</ng-template>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</section>

<section class="shipping-info">
	<div class="container">
		<ul>
			<!-- Free Shipping -->
			<li>
				<div class="media-icon">
					<i class="lni lni-delivery"></i>
				</div>
				<div class="media-body">
					<h5>Free Shipping</h5>
					<span>On order over $99</span>
				</div>
			</li>
			<!-- Money Return -->
			<li>
				<div class="media-icon">
					<i class="lni lni-support"></i>
				</div>
				<div class="media-body">
					<h5>24/7 Support.</h5>
					<span>Live Chat Or Call.</span>
				</div>
			</li>
			<!-- Support 24/7 -->
			<li>
				<div class="media-icon">
					<i class="lni lni-credit-cards"></i>
				</div>
				<div class="media-body">
					<h5>Online Payment.</h5>
					<span>Secure Payment Services.</span>
				</div>
			</li>
			<!-- Safe Payment -->
			<li>
				<div class="media-icon">
					<i class="lni lni-reload"></i>
				</div>
				<div class="media-body">
					<h5>Easy Return.</h5>
					<span>Hassle Free Shopping.</span>
				</div>
			</li>
		</ul>
	</div>
</section>
