<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="inner-content">
				<div class="row">
					<div class="col-lg-3 col-md-4 col-12">
						<div class="footer-logo">
							<a [routerLink]="['/']" class="d-flex align-items-center">
								<img src="assets/images/libeyondea.png" alt="Logo" style="width: 66px; height: 66px;">
								<span class="ms-2 text-white fw-bold fs-3">Libeea</span>
							</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="footer-middle">
		<div class="container">
			<div class="bottom-inner">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-contact">
							<h3>Get In Touch With Us</h3>
							<p class="phone">Phone: +84 336054965</p>
							<ul>
								<li><span>Monday-Friday: </span> 9.00 am - 8.00 pm</li>
								<li><span>Saturday: </span> 10.00 am - 6.00 pm</li>
							</ul>
							<p class="mail">
								<a href="/">nguyenthucofficial@gmail.com</a>
							</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<div class="single-footer f-link">
							<h3>Information</h3>
							<ul>
								<li><a href="javascript:void(0)">About Us</a></li>
								<li><a href="javascript:void(0)">Contact Us</a></li>
								<li><a href="javascript:void(0)">FAQs Page</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<a href="#" class="scroll-top">
	<i class="lni lni-chevron-up"></i>
</a>
